<!DOCTYPE HTML>
<html>
<head>
    <title> 스프링부터 웹서비스</title>
    <meta http-equiv="Content=Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>스프링 부트로 시작하는 웹서비스</h1>
</body>
</html>


{{! css는 header에 js는 footer 가 좋다. js 용량이 클수록 body부분 실행이 늦어지기 때문에 body 하단에 두는 것이 좋고 css를 먼저 불러야 사용자가 깨진 화면을 안보게 된다. }}